$darkpurple: #16142f;
$purple: #252444;
$lightpurple: #3f4d6c;
$blue: #4ac4be;
$cyan: #49ffea;

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

// Components
@import '_buttons';

// Scenes
@import '_menu';
@import '_credits';
